.message-text {
  display: flex;
  flex-direction: column;
}

/* .mainUser {
  align-content: left;
}

.otherUser {
  align-content: right;
} */

article {
  width: fit-content;
  padding: .2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-message {
  background: blueviolet;
  margin-right: .8rem;
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  border-radius: 1.5rem;
  color: #fff;
  text-align: start;
  max-width: 20rem;
  min-height: fit-content;
  overflow-wrap: break-word;

}

.user-name {
  color: #303030;
  font-size: 1.3rem;
  font-style: italic;
}

.other-message {
  background: #000;
  margin-right: .8rem;
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  color: #fff;
  text-align: start;
  max-width: 20rem;
  min-height: fit-content;
  overflow-wrap: break-word;
}

other-message-text {
  background: rgb(71, 80, 79);
  color: #303030;
  margin-right: .8rem;
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  border-radius: 1.5rem;
  text-align: start;
  max-width: 20rem;
  min-height: fit-content;
  overflow-wrap: break-word;
}