article {
  width: fit-content;
  padding: .2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

article .user-message {
  background: blueviolet;
  margin-right: .8rem;
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  border-radius: 1.5rem;
  color: #fff;
  text-align: start;
  max-width: 20rem;
  min-height: fit-content;
  overflow-wrap: break-word;

}

article .user-name {
  color: #303030;
  font-size: 1.3rem;
  font-style: italic;
}